---
import Layout from "../layouts/Layout.astro"
import "@/styles/main.css"
import { plants } from "@/data/plants.json"
---

<Layout>
	<main>
		<section id="inicio" class="hero">
			<div class="hero-content">
				<div class="hero-text">
					<h1>Bienvenido a Mi Jardín Personal</h1>
					<p>
						Descubre mi colección de plantas cuidadosamente
						cultivadas. Desde hierbas aromáticas hasta flores
						exóticas, cada planta tiene su propia historia y
						características especiales. Acompáñame en este viaje
						verde.
					</p>
					<div class="hero-buttons">
						<a href="#plantas" class="btn btn-primary">Explorar</a>
						<a href="#contacto" class="btn btn-secondary"
							>Contacto</a
						>
					</div>
				</div>
				<div class="hero-image">
					<img
						src="images/lechuga_del_pais_3_plantas-1.jpeg"
						alt="Plantas en el jardín"
					/>
					<div class="plant-counter">
						<span class="counter-number">7</span>
						<span class="counter-label">Plantas</span>
					</div>
				</div>
			</div>
		</section>

		<section id="plantas" class="plants-section">
			<div class="section-header">
				<h2>Mi Colección de Plantas</h2>
				<p>
					Cada planta de mi huerto ha sido seleccionada y cuidada con
					amor. Haz clic en cualquier planta para conocer más sobre
					sus cuidados y características.
				</p>
			</div>

			<div class="plants-grid">
				{
					plants.map((plant) => (
						<article class="plant-card">
							<div class="plant-image">
								<img src={plant.image} alt={plant.name} />
							</div>
							<div class="plant-info">
								<h3>{plant.name}</h3>
								<p>{plant.description}</p>
								<div class="plant-rating">
									<span class="stars">★★★★★</span>
									<span class="difficulty">
										{plant.care?.difficulty}
									</span>
								</div>
								<a
									href={`/plants/${plant.slug}`}
									class="btn btn-secondary"
								>
									Ver detalles
								</a>
							</div>
						</article>
					))
				}
			</div>
		</section>
	</main>
</Layout>
